{% extends 'base.html.twig' %}

{% block title %}Wild Séries || Mettre à jour la catégorie {{ category.name }}{% endblock %}

{% block body %}
    <section class="card text-dark m-3">
        <div class="card-header bg-secondary">
            <h1>Mettre à jour la catégorie {{ category.name }}</h1>
        </div>
        <div class="col-sm-12 p-3">
            {{ include('category/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
    </section>

    <a class="btn btn-secondary" href="{{ path('category_index') }}">Retour aux catégories</a>

{% endblock %}
