{% extends 'base.html.twig' %}

{% block title %}New Program{% endblock %}

{% block body %}
    <section class="card text-dark m-3">
        <div class="card-header bg-secondary">
            <h1 class="mx-auto">Créer un nouveau programme :</h1>
        </div>
        <div class="p-3">
            {{ include('program/_form.html.twig') }}
        </div>
    </section>
    <a class="btn btn-dark mt-3" href="{{ path('program_index') }}">Retour aux programmes</a>
{% endblock %}
