{% extends 'base.html.twig' %}

{% block title %}Wild Séries || Catégories{% endblock %}

{% block body %}
    <section>
        <div class="row">
            <h1>Ajouter une catégorie : </h1>
        </div>
        <div class="row">
            {{ form(formCategory) }}
        </div>
        <div class="row">
            <h1>Les catégories : </h1>
            <table class="table col-8 offset-2 mt-3">
                <tbody>
                {% for category in categories %}
                <tr>
                    <td class="text-white">{{ category.title }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    <a href="{{ path('app_index') }}" class="btn btn-dark mt-3">
        Retour à l'accueil
    </a>
{% endblock %}