{% extends "base.html.twig" %}

{% block title %}{% endblock %}

{% block body %}

    <div class="media">
        <div class="media-body">
            <div>
                <h4>Episode {{ episode.number }} : {{ episode.title }}</h4>
                <p>{{ episode.synopsis }}</p>
                <a class="btn btn-dark" href="{{ path('show_season', {'seasonId' : season.id}) }}">
                    Retour
                </a>
            </div>
        </div>
    </div>

{% endblock %}