{% extends "base.html.twig" %}

{% block title %}Wild Séries || Accueil{% endblock %}

{% block body %}
    <section class="mx-auto p-5">
        <div class="row">
            <a class="btn btn-secondary mx-auto" href="{{ path('all_program') }}">
                Programmation
            </a>
        </div>
    </section>
{% endblock %}

