<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {{ encore_entry_link_tags('app') }}

    </head>
    <body class="bg-primary text-secondary">

        {% include "bricks/navbar.html.twig" %}
        <div class="container">
        {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        {{ encore_entry_script_tags('app') }}

    </body>
</html>
