{% extends "base.html.twig" %}

{% block body %}
    <section>
        <h1>Home</h1>
        <div class="row mx-auto">
            <a class="btn btn-secondary mx-auto mb-3" href="{{ path('wild_show', { 'slug': "walking-dead" }) }}">
                Détails de la série Walking Dead
            </a>
        </div>
        <div class="row">
            <a class="btn btn-secondary mx-auto" href="{{ path('wild_index') }}">
                Voir tout le programme
            </a>
        </div>
    </section>
{% endblock %}