{% extends "base.html.twig" %}

{% block body %}
    <section class="align-items-center">
        <h1>Home</h1>
        <a class="btn btn-secondary mb-3" href="{{ path('wild_show', { 'slug': "walking-dead" }) }}">
            Testing show() method from WildController with a real program s slug : Walking Dead.
        </a>
        <a class="btn btn-secondary" href="{{ path('wild_index') }}">
            Testing index() method from WildController to view all programs.
        </a>
    </section>
{% endblock %}